<!-- Main Heder Start -->
<section class="at-main-herader-sec">
  <!-- Header top start -->
  <div class="at-header-topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 at-full-wd480">
          <p><i class="icofont icofont-ui-head-phone"></i> +1 202 110 1122</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 at-full-wd480">
          <p class="at-respo-right"><i class="icofont icofont-email"></i> <a href="#">info@yourmail.com</a>
          </p>
        </div>
        <div class="col-lg-2 col-lg-offset-3 col-md-3 col-md-offset-1 col-sm-3 col-xs-6 at-full-wd480">
          <div class="at-sign-in-up clearfix">
            <p><i class="icofont icofont-sign-in"></i><a href="/SignInUp">sign in</a>
            </p>
            <p><i class="icofont icofont-pencil-alt-2"></i> <a href="/SignInUp">sign up</a>
            </p>
          </div>
        </div>
        <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 at-full-wd480">-->
        <!--<div class="at-social text-right">-->
        <!--<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
        <!--<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
        <!--<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
        <!--<a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>-->
        <!--<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <!-- Header top end -->
  <!-- Header navbar start -->
  <div class="at-navbar fixed-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/Home"><img src="../../assets/images/logo.png" alt="">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeInUp">
              <ul class="nav navbar-nav navbar-right">

                <li><a href="/Home">Home</a></li>


                <!--<li class="dropdown active">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="index-one.html">Home one</a>-->
                <!--</li>-->
                <!--<li><a href="index-two.html">Home two</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
                <li><a href="/About">About</a>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agents <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="/Agents">Our agents</a>
                    </li>
                    <li><a href="/AgentsDetails">agents details</a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="/Testimonials">Testimonials</a>
                    </li>
                    <li><a href="/Service">Services</a>
                    </li>
                  </ul>
                </li>
                <li><a href="/Contact">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Header navbar end -->
</section>
<!-- Main Heder End -->