<!--<div id="preloader"></div>-->
<!-- Main Heder Start -->
<section class="at-main-herader-sec" xmlns="http://www.w3.org/1999/html">
  <!-- Header top start -->
  <div class="at-header-topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 at-full-wd480">
          <p><i class="icofont icofont-ui-head-phone"></i> +1 202 110 1122</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 at-full-wd480">
          <p class="at-respo-right"><i class="icofont icofont-email"></i> <a href="#">info@yourmail.com</a>
          </p>
        </div>
        <div class="col-lg-2 col-lg-offset-3 col-md-3 col-md-offset-1 col-sm-3 col-xs-6 at-full-wd480">
          <div class="at-sign-in-up clearfix">
            <p><i class="icofont icofont-sign-in"></i><a routerLink="/sign">sign in</a>
            </p>
            <p><i class="icofont icofont-pencil-alt-2"></i> <a routerLink="/sign">sign up</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header top end -->

  <!-- Header navbar start -->
  <div class="at-navbar fixed-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" routerLink="/home"><img src="../../assets/images/logo.png" alt="">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeInUp">
              <ul class="nav navbar-nav navbar-right">

                <li ><a href="../home" >Home</a></li>
                <li><a routerLink="/about">About</a>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agents <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="/agents">Our agents</a>
                    </li>
                    <li><a routerLink="/agents-d">agents details</a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="/testimonials">Testimonials</a>
                    </li>
                    <li><a routerLink="/service">Services</a>
                    </li>
                  </ul>
                </li>
                <li><a routerLink="/contact">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Header navbar end -->
</section>
<!-- Main Heder End -->

<!-- Inner page heading start from here -->
<section id="at-inner-title-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="at-inner-title-box">
          <h2>Agent Details</h2>
          <p><a routerLink="/home">Home</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a routerLink="/agents">Agents</a>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="../../assets/images/title.png" alt="">
      </div>
    </div>
  </div>
</section>
<!-- Inner page heading end -->

<!-- Services start from here -->
<section class="at-service-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="at-service-content">
          <h2>Few words about Our<br> <span>exclusive services</span></h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="at-service-content">
          <img src="../../assets/images/service.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="at-service-item">
          <div class="at-service-icon">
            <i class="icofont icofont-ui-home"></i>
          </div>
          <h4>we made best home</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-service-item">
          <div class="at-service-icon">
            <i class="icofont icofont-road"></i>
          </div>
          <h4>we made best home</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-service-item">
          <div class="at-service-icon">
            <i class="icofont icofont-police-car-alt-1"></i>
          </div>
          <h4>we made best home</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-service-item">
          <div class="at-service-icon">
            <i class="icofont icofont-tree-alt"></i>
          </div>
          <h4>we made best home</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-service-item">
          <div class="at-service-icon">
            <i class="icofont icofont-field"></i>
          </div>
          <h4>we made best home</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-service-item">
          <div class="at-service-icon">
            <i class="icofont icofont-golf-field"></i>
          </div>
          <h4>we made best home</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services End -->

<!-- footer start from here -->
<footer class="at-main-footer at-over-layer-black">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="at-footer-about-col at-col-default-mar">
          <div class="at-footer-logo">
            <img src="../../assets/images/footer-logo.png" alt="">
          </div>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12">
        <div class="at-footer-link-col at-col-default-mar">
          <h4>Quick links</h4>
          <div class="at-heading-under-line">
            <div class="at-heading-inside-line"></div>
          </div>
          <ul>
            <li><a routerLink="/home">Home</a>
            </li>
            <li><a routerLink="/about">About Us</a>
            </li>
            <li><a href="properties-col-5.html">properties</a>
            </li>
            <li><a routerLink="/agents">Agents</a>
            </li>
            <li><a href="blog-gird.html">Our Blog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="at-footer-gallery-col at-col-default-mar">
          <h4>Awesome Gallery</h4>
          <div class="at-heading-under-line">
            <div class="at-heading-inside-line"></div>
          </div>
          <div class="at-gallery clearfix">
            <!--portfolio single img end-->
            <ul>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/1.jpg"><img src="../../assets/images/gallery/1.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/2.jpg"><img src="../../assets/images/gallery/2.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/3.jpg"><img src="../../assets/images/gallery/3.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/4.jpg"><img src="../../assets/images/gallery/4.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/5.jpg"><img src="../../assets/images/gallery/5.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/6.jpg"><img src="../../assets/images/gallery/6.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/7.jpg"><img src="../../assets/images/gallery/7.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/8.jpg"><img src="../../assets/images/gallery/8.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/9.jpg"><img src="../../assets/images/gallery/9.jpg" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->

