<!-- About start from here -->
<section class="at-about-sec-two">
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-lg-6 col-md-12">
        <div class="at-about-col at-col-default-mar animated fadeInLeftShort slow delay-250">
          <img src="../../assets/images/about/2.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="at-about-col at-col-default-mar">
          <div class="at-about-title">
            <h1>Few description<br> <span>about HOMY</span></h1>
            <h6>Real Estate</h6>
          </div>
          <p>Consectetur adipisicing elit. Alias nostrum suscipit a aperiam reiciendis dolor. Inventore, distinctio optio? Recusandae necessitatibus odit dolorum exercitationem ut, molestiae reprehenderit laborum inventore ratione eligendi.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p><br>
          <p>Inventore, distinctio optio? Recusandae necessitatibus odit dolorum exercitationem ut, molestiae reprehenderit laborum inventore ratione eligendi.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text ever since.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About End -->