<!-- Call start from here -->
<section class="at-Call-sec jarallax at-over-layer-black">
  <div class="at-Call-both-side clearfix">
    <div class="at-Call-left">
      <div class="at-inside-Call">
        <h5>BOOK YOUR</h5>
        <h2>APPARTMENT OR HOUSE</h2>
      </div>
    </div>
    <div class="at-Call-right">
      <div class="at-Call-right-inside">
        <h2>we are ready to receive your call</h2>
        <div class="at-short-line"></div>
        <h3>CALL US : <span>+0412 001 123</span></h3>
      </div>
    </div>
  </div>
</section>
<!-- Call End -->