<!-- jQuery -->
<script src="../../assets/js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../../assets/js/bootstrap.min.js"></script>

<!-- all plugins and JavaScript -->
<script type="text/javascript" src="../../assets/js/css3-animate-it.js"></script>
<script type="text/javascript" src="../../assets/js/bootstrap-dropdownhover.min.js"></script>
<script type="text/javascript" src="../../assets/js/featherlight.min.js"></script>
<script type="text/javascript" src="../../assets/js/featherlight.gallery.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="../../assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="../../assets/js/jarallax.js"></script>
<script type="text/javascript" src="../../assets/js/slick.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery-ui.js"></script>
<script type="text/javascript" src="../../assets/js/jquery-scrolltofixed-min.js"></script>
<script type="text/javascript" src="../../assets/js/morphext.min.js"></script>
<script type="text/javascript" src="../../assets/js/dyscrollup.js"></script>
<script type="text/javascript" src="../../assets/js/app.js"></script>


<!-- Main Custom JS -->
<script type="text/javascript" src="../../assets/js/main.js"></script>


