<!--<div id="preloader"></div>-->
<!-- Main Heder Start -->
<app-header></app-header>
<!-- Main Heder End -->

<!-- Inner page heading start from here -->
<section id="at-inner-title-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="at-inner-title-box">
          <h2>Account</h2>
          <p><a routerLink="/home">Home</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="#">Account</a>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="../../assets/images/title.png" alt="">
      </div>
    </div>
  </div>
</section>
<!-- Inner page heading end -->

<!-- Account start from here -->
<section class="at-account-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Sing In</a>
            </li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Sing Up</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">
              <form>
                <input type="text" class="form-control" placeholder="Username">
                <input type="password" class="form-control" placeholder="Password">
                <div class="checkbox clearfix">
                  <label class="pull-left">
                    <input type="checkbox"> Remember Me
                  </label>
                  <p class="pull-right"><a href="#">Forgot Your Psassword?</a>
                  </p>
                </div>
                <div class="text-center">
                  <button class="btn btn-default hvr-bounce-to-right" type="submit">Login</button>
                </div>
              </form>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile">
              <form>
                <input type="text" class="form-control" placeholder="First Name">
                <input type="text" class="form-control" placeholder="Last Name">
                <input type="text" class="form-control" placeholder="Username">
                <input type="email" class="form-control" placeholder="Your Email Address">
                <input type="password" class="form-control" placeholder="Password">
                <input type="password" class="form-control" placeholder="Confirm Password">
                <div class="text-center">
                  <button class="btn btn-default hvr-bounce-to-right" type="submit">sing up</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End -->

<!-- footer start from here -->
<app-footer></app-footer>
<!-- footer end -->

<!-- Copyright start from here -->
<section class="at-copyright">
  <div class="container">
    <div class="row">
      <p>Copyright ©2017 <a href="https://themeforest.net/user/awesome_theme">Awesome_Theme</a> All Rights Reserved</p>
    </div>
  </div>
</section>
<!-- Copyright end -->






