<div id="preloader"></div>
<!--<div id="preloader"></div>-->
<!-- Main Heder Start -->
<section class="at-main-herader-sec" xmlns="http://www.w3.org/1999/html">
  <!-- Header top start -->
  <div class="at-header-topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 at-full-wd480">
          <p><i class="icofont icofont-ui-head-phone"></i> +1 202 110 1122</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 at-full-wd480">
          <p class="at-respo-right"><i class="icofont icofont-email"></i> <a href="#">info@yourmail.com</a>
          </p>
        </div>
        <div class="col-lg-2 col-lg-offset-3 col-md-3 col-md-offset-1 col-sm-3 col-xs-6 at-full-wd480">
          <div class="at-sign-in-up clearfix">
            <p><i class="icofont icofont-sign-in"></i><a href="sign-in-up.html">sign in</a>
            </p>
            <p><i class="icofont icofont-pencil-alt-2"></i> <a href="sign-in-up.html">sign up</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header top end -->

  <!-- Header navbar start -->
  <div class="at-navbar fixed-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index-one.html"><img src="../../assets/images/logo.png" alt="">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeInUp">
              <ul class="nav navbar-nav navbar-right">

                <li><a href="index-two.html">Home</a></li>
                <li><a href="about.html">About</a>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agents <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="agents.html">Our agents</a>
                    </li>
                    <li><a href="agents-details.html">agents details</a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="testimonials.html">Testimonials</a>
                    </li>
                    <li><a href="service.html">Services</a>
                    </li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Header navbar end -->
</section>
<!-- Main Heder End -->

<!-- Main Search start from here -->
<section class="main-search-field main-search-field-two at-over-layer-black">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="at-col-default-mar clearfix">
          <h1 id="text-animation">we are real estate company, find your dream home from here, we are very helpful, We are very modern, we are very experienced</h1>
        </div>
      </div>
    </div>
    <div class="at-search-box">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <select>
              <option value="0" selected>Location</option>
              <option value="1">Alabama</option>
              <option value="2">Alaska</option>
              <option value="3">California</option>
              <option value="4">Colorado</option>
              <option value="5">Delaware</option>
              <option value="6">District of Columbia</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <select class="div-toggle" data-target=".my-info-1">
              <option value="0" data-show=".acitveon" selected>Property Status</option>
              <option value="1" data-show=".sale">For Sale</option>
              <option value="2" data-show=".rent">For Rent</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <input class="at-input" type="text" name="min-area" placeholder="Squre Fit Min">
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <input class="at-input" type="text" name="max-area" placeholder="Squre Fit Max">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <select>
              <option value="0" selected>Bedroom</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <select>
              <option value="0" selected>Bathroom</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <div class="irs-pricing-range">
              <div class="my-info-1">
                <h4>At first select Property Status</h4>
                <div class="acitveon sale hide">
                  <label>Price : </label>
                  <input type="text" class="amount at-input-price" readonly >
                  <div class="slider-range"></div>
                </div>
                <div class="rent hide">
                  <label>Price : </label>
                  <input type="text" class="amount-two at-input-price" readonly>
                  <div class="slider-range-two"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="at-col-default-mar">
            <button class="btn btn-default hvr-bounce-to-right" type="submit">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Main Search End -->

<!-- About start from here -->
<section class="at-about-sec-two">
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-lg-6 col-md-12">
        <div class="at-about-col at-col-default-mar animated fadeInLeftShort slow delay-250">
          <img src="../../assets/images/about/2.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="at-about-col at-col-default-mar">
          <div class="at-about-title">
            <h1>Few description<br> <span>about HOMY</span></h1>
            <h6>Real Estate</h6>
          </div>
          <p>Consectetur adipisicing elit. Alias nostrum suscipit a aperiam reiciendis dolor. Inventore, distinctio optio? Recusandae necessitatibus odit dolorum exercitationem ut, molestiae reprehenderit laborum inventore ratione eligendi.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p><br>
          <p>Inventore, distinctio optio? Recusandae necessitatibus odit dolorum exercitationem ut, molestiae reprehenderit laborum inventore ratione eligendi.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text ever since.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About End -->

<!-- Call start from here -->
<section class="at-Call-sec jarallax at-over-layer-black">
  <div class="at-Call-both-side clearfix">
    <div class="at-Call-left">
      <div class="at-inside-Call">
        <h5>BOOK YOUR</h5>
        <h2>APPARTMENT OR HOUSE</h2>
      </div>
    </div>
    <div class="at-Call-right">
      <div class="at-Call-right-inside">
        <h2>we are ready to receive your call</h2>
        <div class="at-short-line"></div>
        <h3>CALL US : <span>+0412 001 123</span></h3>
      </div>
    </div>
  </div>
</section>
<!-- Call End -->

<!-- Property start from here -->
<section class="at-property-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="at-sec-title at-sec-title-left">
          <h2>Awesome <span>Property</span></h2>
          <div class="at-heading-under-line">
            <div class="at-heading-inside-line"></div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum totam et dolores voluptatem porro tempore temporibus ducimus</p>
        </div>
      </div>
    </div>
    <div class="row animatedParent animateOnce">
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow">
          <div class="at-property-img">
            <img src="../../assets/images/property/1.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" href="properties-details.html" role="button">View Details</a>
            <h4>For Sale</h4>
            <h5>$59,999</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">New Superb Villa</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 123 1st Width Road, , summit, new york</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-250">
          <div class="at-property-img">
            <img src="../../assets/images/property/2.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" href="properties-details.html" role="button">View Details</a>
            <h4 class="at-bg-black">For Rent</h4>
            <h5 class="at-bg-black">$59,999</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">New Superb Villa</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 123 1st Width Road, , summit, new york</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
          <div class="at-property-img">
            <img src="../../assets/images/property/3.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" href="properties-details.html" role="button">View Details</a>
            <h4>For Sale</h4>
            <h5>$59,999</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">New Superb Villa</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 123 1st Width Road, , summit, new york</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-750">
          <div class="at-property-img">
            <img src="../../assets/images/property/4.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" href="properties-details.html" role="button">View Details</a>
            <h4 class="at-bg-black">For Rent</h4>
            <h5 class="at-bg-black">$59,999</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">New Superb Villa</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 123 1st Width Road, , summit, new york</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-1000">
          <div class="at-property-img">
            <img src="../../assets/images/property/5.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" href="properties-details.html" role="button">View Details</a>
            <h4>For Sale</h4>
            <h5>$59,999</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">New Superb Villa</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 123 1st Width Road, , summit, new york</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-1250">
          <div class="at-property-img">
            <img src="../../assets/images/property/6.jpg" alt="">
            <div class="at-property-overlayer"></div>
            <a class="btn btn-default at-property-btn" href="properties-details.html" role="button">View Details</a>
            <h4 class="at-bg-black">For Rent</h4>
            <h5 class="at-bg-black">$59,999</h5>
          </div>
          <div class="at-property-dis">
            <ul>
              <li><i class="fa fa-object-group" aria-hidden="true"></i> 520 sq ft</li>
              <li><i class="fa fa-bed" aria-hidden="true"></i> 6</li>
              <li><i class="fa fa-bath" aria-hidden="true"></i> 3</li>
            </ul>
          </div>
          <div class="at-property-location">
            <h4><i class="fa fa-home" aria-hidden="true"></i><a href="properties-details.html">New Superb Villa</a></h4>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 123 1st Width Road, , summit, new york</p>
          </div>
        </div>
      </div>
      <div class="text-center"><a class="btn btn-default hvr-bounce-to-right" href="properties-col-3.html" role="button">More Properties</a>
      </div>
    </div>
  </div>
</section>
<footer class="at-main-footer at-over-layer-black">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="at-footer-about-col at-col-default-mar">
          <div class="at-footer-logo">
            <img src="../../assets/images/footer-logo.png" alt="">
          </div>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12">
        <div class="at-footer-link-col at-col-default-mar">
          <h4>Quick links</h4>
          <div class="at-heading-under-line">
            <div class="at-heading-inside-line"></div>
          </div>
          <ul>
            <li><a href="index-one.html">Home</a>
            </li>
            <li><a href="about-one.html">About Us</a>
            </li>
            <li><a href="properties-col-5.html">properties</a>
            </li>
            <li><a href="agents.html">Agents</a>
            </li>
            <li><a href="blog-gird.html">Our Blog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="at-footer-gallery-col at-col-default-mar">
          <h4>Awesome Gallery</h4>
          <div class="at-heading-under-line">
            <div class="at-heading-inside-line"></div>
          </div>
          <div class="at-gallery clearfix">
            <!--portfolio single img end-->
            <ul>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/1.jpg"><img src="../../assets/images/gallery/1.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/2.jpg"><img src="../../assets/images/gallery/2.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/3.jpg"><img src="../../assets/images/gallery/3.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/4.jpg"><img src="../../assets/images/gallery/4.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/5.jpg"><img src="../../assets/images/gallery/5.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/6.jpg"><img src="../../assets/images/gallery/6.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/7.jpg"><img src="../../assets/images/gallery/7.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/8.jpg"><img src="../../assets/images/gallery/8.jpg" alt="">
                </a>
              </li>
              <li>
                <a class="thumbnail gallery" href="../../assets/images/gallery/9.jpg"><img src="../../assets/images/gallery/9.jpg" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>






